<h1 mat-dialog-title>Hi!</h1>
<div mat-dialog-content>
  <p>Add ONE product</p>
  <form [formGroup]="formLogin">
  <mat-form-field appearance="fill">
    <mat-label>Product name:</mat-label>
    <input matInput formControlName="product">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Cost the product:</mat-label>
    <input matInput formControlName="cost">
  </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" >No Thanks</button>
  <button mat-button  cdkFocusInitial [mat-dialog-close] (click)="onSubmit()" [disabled]="formLogin.invalid">Ok</button>
</div>

<!-- <form [formGroup]="formLogin">
    <label for="">Product</label>
    <input type="text" formControlName="product">
    <label for="">Cost</label>
    <input type="text" formControlName="cost">
    <button type="submit" (click)="onSubmit()">Send</button>
</form> -->